*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 20px;
}

.navbar{
    background: burlywood;
    padding: 20px;
}

.navbar .nav-custom li{
    display: inline;
    padding: 10px;
}

.nav-custom{
    padding-left: 50%;
}

.logo{
    float: left;
    font-size: 24px;
}

.nav-link{
    color: black !important;
    text-decoration: none;
    font-size: 24px;
    transition: .6s;
}

.nav-link:hover{
    color: white !important;
}


/* Banner image */
#banner{
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.6)), url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 90vh;
}

.banner-content{
    color: #fff;
    text-align: center;
    padding-top: 20%;
}

.banner-content p{
    font-size: 18px;
}


.banner-title{
    font-size: 4rem;

}

.banner-sub-title{
    color: burlywood;
    font-style: italic;
}

.about-content{
    width: 90%;
    margin: 2em auto;
    display: flex;
    flex-wrap: nowrap;
}

.about-me{
    padding-top: 10%;
    padding-left: 20px;
    text-align: center;
}

.about-me p{
    
    padding-top: 20px;
}

.about-me-header h1{
    text-align: center;
    padding-top: 20px;
}

/* Portfolio */
#portfolio{
    width: 90%;
    margin: 2em auto;
    background: rgba(0,0,0,.8);
    height: auto;
    padding-bottom: 20px;
}

.portfolio-content{
    display: flex;
}

.portfolio-title h3{
    text-align: center;
    padding-top: 10px;
    color: white;
    font-size: 24px;
}

.project-1{
    background: white;
    margin-top: 30px;
    margin-left: 9%;
    padding: 20px;
    width: 35%;
    border-radius: 10px;
}

.project-1 h2{
    padding: 10px;
}

.project-1 p{
    padding-top: 20px;
}

.project-1 ul{
    margin-left: 20px;
}

.button{
    padding: 15px;
    background: burlywood;
    border: none;
    outline: none;
    box-shadow: none;
    width: 100px;
    margin-top: 30px;
    border-radius: 9px;
    font-size: 20px;
}
.column{
    text-align: center;
    font-weight: bold;
    background-color:burlywood;
}
h3{
    text-align:center;
    font-weight: bolder;
}
#contact{
    text-align: center;
    background-color: burlywood;

}